/* HTML */

html {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
*::selection {
  background: transparent;
  color:black;
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
}

/* Container */

.container {
  text-align: center;
  width: 40%;
  max-width: 600px;
  margin: auto;
}

.content-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

/* Background SVG */

body {
  background-image: url(media/pattern.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--cont-bg);
}
